@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to KhumaloCraft Emporium</h1>
    <p>Connecting artisans worldwide with a discerning audience.</p>


    <h3>Users:</h3>
    <ul>
        @if (ViewData["Users"] is List<User> users && users != null)
        {
            foreach (var user in users)
            {
                <li>@user.UserName - @user.UserEmail</li>
            }
        }
        else
        {
            <li>No users available.</li>
        }
    </ul>
</div>

<style>
    .welcome-header {
        display: flex;
        align-content: center;
        justify-content: center;
    }
</style>
