@{
    ViewData["Title"] = "My Work";
}

<h1>@ViewData["Title"]</h1>
<p>Information about the craftwork including images, descriptions, and prices.</p>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/images/hoodie.jpeg" alt="hoodie and I still need to thank the owner">
    <div class="card-body">
        <h5 class="card-title">Hoodie</h5>
        <p class="card-text"><strong>Size: </strong>Medium</p>
        <p class="card-text"><strong>Colour: </strong>Blue</p>
        <p class="card-text"><strong>Cost: </strong>R350.00</p>
        <a href="#" class="btn btn-primary">Buy Me!</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/images/Fleece.jpeg" alt="Fleece and I still need to thank the owner">
    <div class="card-body">
        <h5 class="card-title">Hoodie</h5>
        <p class="card-text"><strong>Size: </strong>Large</p>
        <p class="card-text"><strong>Colour: </strong>Grey</p>
        <p class="card-text"><strong>Cost: </strong>R500.00</p>
        <a href="#" class="btn btn-primary">Buy Me!</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/images/Cargo Pants.jpeg" alt="Cargo Pants and I still need to thank the owner">
    <div class="card-body">
        <h5 class="card-title">Hoodie</h5>
        <p class="card-text"><strong>Size: </strong>Large</p>
        <p class="card-text"><strong>Colour: </strong>Grey</p>
        <p class="card-text"><strong>Cost: </strong>R450.00</p>
        <a href="#" class="btn btn-primary">Buy Me!</a>
    </div>
</div>