@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<p>   Thank you for visiting KhumaloCraft Emporium's website. Your privacy is important to us, and we are committed to protecting your personal information. This Privacy Policy outlines how we collect, use, and safeguard your information when you use our website and services. </p>

<p>    Information We Collect: </p>

<p>   When you visit our website, we may collect certain information automatically, including your IP address, browser type, device type, operating system, and browsing activity. We may also collect personal information that you voluntarily provide to us, such as your name, email address, shipping address, and payment information when you make a purchase or register for an account. </p>

<p>   How We Use Your Information: </p>

<p>    We may use the information we collect for various purposes, including: </p>

<p> To process and fulfill orders, including delivering products and services, processing payments, and communicating with you about your order. </p>
<p> To personalize your experience on our website and tailor content, products, and services to your preferences. </p>
<p> To communicate with you about promotions, special offers, and new products or services that may be of interest to you. </p>
<p> To improve our website, products, and services based on your feedback and usage patterns. </p>
<p> To comply with legal obligations and enforce our policies. </p>

<p> Data Security: </p>

<p> We take reasonable measures to protect your personal information from unauthorized access, use, disclosure, alteration, or destruction. However, no method of transmission over the internet or electronic storage is completely secure, and we cannot guarantee absolute security. </p>

<p> Third-Party Links: </p>

<p> Our website may contain links to third-party websites or services that are not owned or controlled by us. We are not responsible for the privacy practices or content of these third-party sites. We encourage you to review the privacy policies of any third-party sites you visit. </p>

<p> Updates to This Privacy Policy: </p>

<p> We may update this Privacy Policy from time to time to reflect changes in our practices or applicable laws. We will notify you of any material changes by posting the updated Privacy Policy on our website and updating the effective date. </p>

<p> Contact Us: </p>

<p> If you have any questions or concerns about this Privacy Policy or our privacy practices, please contact us at Emporium@khumaloCraft.co.za. </p>


