/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; /* Set a background color */
    color: #333; /* Set default text color */
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Headers */
h1, h2, h3 {
    color: #333; /* Set header text color */
}

/* Paragraphs */
p {
    line-height: 1.5;
}

/* Links */
a {
    color: #007bff; /* Set link color */
}

    a:hover {
        text-decoration: none; /* Remove underline on hover */
    }

/* Buttons */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    .btn:hover {
        background-color: #0056b3; /* Darken button color on hover */
    }

/* Forms */
.form-control {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Images */
.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

/* Style the modal */
.modal {
    display: none; /* Hide the modal by default */
    position: fixed; /* Position the modal fixed */
    z-index: 1; /* Make sure the modal is on top of other elements */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scrolling if the content is too large */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black with 0.4 opacity */
}

/* Style the modal content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* Style the close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }